.drdsgvo-col-lg-1,.drdsgvo-col-lg-2,.drdsgvo-col-lg-3,.drdsgvo-col-lg-4,.drdsgvo-col-lg-5,.drdsgvo-col-lg-6,.drdsgvo-col-lg-7,.drdsgvo-col-lg-8,.drdsgvo-col-lg-9,.drdsgvo-col-lg-10,.drdsgvo-col-lg-11,.drdsgvo-col-lg-12,.drdsgvo-col-md-1,.drdsgvo-col-md-2,.drdsgvo-col-md-3,.drdsgvo-col-md-4,.drdsgvo-col-md-5,.drdsgvo-col-md-6,.drdsgvo-col-md-7,.drdsgvo-col-md-8,.drdsgvo-col-md-9,.drdsgvo-col-md-10,.drdsgvo-col-md-11,.drdsgvo-col-md-12,.drdsgvo-col-sm-1,.drdsgvo-col-sm-2,.drdsgvo-col-sm-3,.drdsgvo-col-sm-4,.drdsgvo-col-sm-5,.drdsgvo-col-sm-6,.drdsgvo-col-sm-7,.drdsgvo-col-sm-8,.drdsgvo-col-sm-9,.drdsgvo-col-sm-10,.drdsgvo-col-sm-11,.drdsgvo-col-sm-12,.drdsgvo-col-xs-1,.drdsgvo-col-xs-2,.drdsgvo-col-xs-3,.drdsgvo-col-xs-4,.drdsgvo-col-xs-5,.drdsgvo-col-xs-6,.drdsgvo-col-xs-7,.drdsgvo-col-xs-8,.drdsgvo-col-xs-9,.drdsgvo-col-xs-10,.drdsgvo-col-xs-11,..drdsgvo-col-xs-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px}.drdsgvo-col-xs-1,.drdsgvo-col-xs-2,.drdsgvo-col-xs-3,.drdsgvo-col-xs-4,.drdsgvo-col-xs-5,.drdsgvo-col-xs-6,.drdsgvo-col-xs-7,.drdsgvo-col-xs-8,.drdsgvo-col-xs-9,.drdsgvo-col-xs-10,.drdsgvo-col-xs-11,..drdsgvo-col-xs-12{float:left}..drdsgvo-col-xs-12{width:100%}.drdsgvo-col-xs-11{width:91.66666667%}.drdsgvo-col-xs-10{width:83.33333333%}.drdsgvo-col-xs-9{width:75%}.drdsgvo-col-xs-8{width:66.66666667%}.drdsgvo-col-xs-7{width:58.33333333%}.drdsgvo-col-xs-6{width:50%}.drdsgvo-col-xs-5{width:41.66666667%}.drdsgvo-col-xs-4{width:33.33333333%}.drdsgvo-col-xs-3{width:25%}.drdsgvo-col-xs-2{width:16.66666667%}.drdsgvo-col-xs-1{width:8.33333333%}.drdsgvo-col-xs-pull-12{right:100%}.drdsgvo-col-xs-pull-11{right:91.66666667%}.drdsgvo-col-xs-pull-10{right:83.33333333%}.drdsgvo-col-xs-pull-9{right:75%}.drdsgvo-col-xs-pull-8{right:66.66666667%}.drdsgvo-col-xs-pull-7{right:58.33333333%}.drdsgvo-col-xs-pull-6{right:50%}.drdsgvo-col-xs-pull-5{right:41.66666667%}.drdsgvo-col-xs-pull-4{right:33.33333333%}.drdsgvo-col-xs-pull-3{right:25%}.drdsgvo-col-xs-pull-2{right:16.66666667%}.drdsgvo-col-xs-pull-1{right:8.33333333%}.drdsgvo-col-xs-pull-0{right:auto}.drdsgvo-col-xs-push-12{left:100%}.drdsgvo-col-xs-push-11{left:91.66666667%}.drdsgvo-col-xs-push-10{left:83.33333333%}.drdsgvo-col-xs-push-9{left:75%}.drdsgvo-col-xs-push-8{left:66.66666667%}.drdsgvo-col-xs-push-7{left:58.33333333%}.drdsgvo-col-xs-push-6{left:50%}.drdsgvo-col-xs-push-5{left:41.66666667%}.drdsgvo-col-xs-push-4{left:33.33333333%}.drdsgvo-col-xs-push-3{left:25%}.drdsgvo-col-xs-push-2{left:16.66666667%}.drdsgvo-col-xs-push-1{left:8.33333333%}.drdsgvo-col-xs-push-0{left:auto}.drdsgvo-col-xs-offset-12{margin-left:100%}.drdsgvo-col-xs-offset-11{margin-left:91.66666667%}.drdsgvo-col-xs-offset-10{margin-left:83.33333333%}.drdsgvo-col-xs-offset-9{margin-left:75%}.drdsgvo-col-xs-offset-8{margin-left:66.66666667%}.drdsgvo-col-xs-offset-7{margin-left:58.33333333%}.drdsgvo-col-xs-offset-6{margin-left:50%}.drdsgvo-col-xs-offset-5{margin-left:41.66666667%}.drdsgvo-col-xs-offset-4{margin-left:33.33333333%}.drdsgvo-col-xs-offset-3{margin-left:25%}.drdsgvo-col-xs-offset-2{margin-left:16.66666667%}.drdsgvo-col-xs-offset-1{margin-left:8.33333333%}.drdsgvo-col-xs-offset-0{margin-left:0}@media (min-width:768px){.drdsgvo-col-sm-1,.drdsgvo-col-sm-2,.drdsgvo-col-sm-3,.drdsgvo-col-sm-4,.drdsgvo-col-sm-5,.drdsgvo-col-sm-6,.drdsgvo-col-sm-7,.drdsgvo-col-sm-8,.drdsgvo-col-sm-9,.drdsgvo-col-sm-10,.drdsgvo-col-sm-11,.drdsgvo-col-sm-12{float:left}.drdsgvo-col-sm-12{width:100%}.drdsgvo-col-sm-11{width:91.66666667%}.drdsgvo-col-sm-10{width:83.33333333%}.drdsgvo-col-sm-9{width:75%}.drdsgvo-col-sm-8{width:66.66666667%}.drdsgvo-col-sm-7{width:58.33333333%}.drdsgvo-col-sm-6{width:50%}.drdsgvo-col-sm-5{width:41.66666667%}.drdsgvo-col-sm-4{width:33.33333333%}.drdsgvo-col-sm-3{width:25%}.drdsgvo-col-sm-2{width:16.66666667%}.drdsgvo-col-sm-1{width:8.33333333%}.drdsgvo-col-sm-pull-12{right:100%}.drdsgvo-col-sm-pull-11{right:91.66666667%}.drdsgvo-col-sm-pull-10{right:83.33333333%}.drdsgvo-col-sm-pull-9{right:75%}.drdsgvo-col-sm-pull-8{right:66.66666667%}.drdsgvo-col-sm-pull-7{right:58.33333333%}.drdsgvo-col-sm-pull-6{right:50%}.drdsgvo-col-sm-pull-5{right:41.66666667%}.drdsgvo-col-sm-pull-4{right:33.33333333%}.drdsgvo-col-sm-pull-3{right:25%}.drdsgvo-col-sm-pull-2{right:16.66666667%}.drdsgvo-col-sm-pull-1{right:8.33333333%}.drdsgvo-col-sm-pull-0{right:auto}.drdsgvo-col-sm-push-12{left:100%}.drdsgvo-col-sm-push-11{left:91.66666667%}.drdsgvo-col-sm-push-10{left:83.33333333%}.drdsgvo-col-sm-push-9{left:75%}.drdsgvo-col-sm-push-8{left:66.66666667%}.drdsgvo-col-sm-push-7{left:58.33333333%}.drdsgvo-col-sm-push-6{left:50%}.drdsgvo-col-sm-push-5{left:41.66666667%}.drdsgvo-col-sm-push-4{left:33.33333333%}.drdsgvo-col-sm-push-3{left:25%}.drdsgvo-col-sm-push-2{left:16.66666667%}.drdsgvo-col-sm-push-1{left:8.33333333%}.drdsgvo-col-sm-push-0{left:auto}.drdsgvo-col-sm-offset-12{margin-left:100%}.drdsgvo-col-sm-offset-11{margin-left:91.66666667%}.drdsgvo-col-sm-offset-10{margin-left:83.33333333%}.drdsgvo-col-sm-offset-9{margin-left:75%}.drdsgvo-col-sm-offset-8{margin-left:66.66666667%}.drdsgvo-col-sm-offset-7{margin-left:58.33333333%}.drdsgvo-col-sm-offset-6{margin-left:50%}.drdsgvo-col-sm-offset-5{margin-left:41.66666667%}.drdsgvo-col-sm-offset-4{margin-left:33.33333333%}.drdsgvo-col-sm-offset-3{margin-left:25%}.drdsgvo-col-sm-offset-2{margin-left:16.66666667%}.drdsgvo-col-sm-offset-1{margin-left:8.33333333%}.drdsgvo-col-sm-offset-0{margin-left:0}}@media (min-width:992px){.drdsgvo-col-md-1,.drdsgvo-col-md-2,.drdsgvo-col-md-3,.drdsgvo-col-md-4,.drdsgvo-col-md-5,.drdsgvo-col-md-6,.drdsgvo-col-md-7,.drdsgvo-col-md-8,.drdsgvo-col-md-9,.drdsgvo-col-md-10,.drdsgvo-col-md-11,.drdsgvo-col-md-12{float:left}.drdsgvo-col-md-12{width:100%}.drdsgvo-col-md-11{width:91.66666667%}.drdsgvo-col-md-10{width:83.33333333%}.drdsgvo-col-md-9{width:75%}.drdsgvo-col-md-8{width:66.66666667%}.drdsgvo-col-md-7{width:58.33333333%}.drdsgvo-col-md-6{width:50%}.drdsgvo-col-md-5{width:41.66666667%}.drdsgvo-col-md-4{width:33.33333333%}.drdsgvo-col-md-3{width:25%}.drdsgvo-col-md-2{width:16.66666667%}.drdsgvo-col-md-1{width:8.33333333%}.drdsgvo-col-md-pull-12{right:100%}.drdsgvo-col-md-pull-11{right:91.66666667%}.drdsgvo-col-md-pull-10{right:83.33333333%}.drdsgvo-col-md-pull-9{right:75%}.drdsgvo-col-md-pull-8{right:66.66666667%}.drdsgvo-col-md-pull-7{right:58.33333333%}.drdsgvo-col-md-pull-6{right:50%}.drdsgvo-col-md-pull-5{right:41.66666667%}.drdsgvo-col-md-pull-4{right:33.33333333%}.drdsgvo-col-md-pull-3{right:25%}.drdsgvo-col-md-pull-2{right:16.66666667%}.drdsgvo-col-md-pull-1{right:8.33333333%}.drdsgvo-col-md-pull-0{right:auto}.drdsgvo-col-md-push-12{left:100%}.drdsgvo-col-md-push-11{left:91.66666667%}.drdsgvo-col-md-push-10{left:83.33333333%}.drdsgvo-col-md-push-9{left:75%}.drdsgvo-col-md-push-8{left:66.66666667%}.drdsgvo-col-md-push-7{left:58.33333333%}.drdsgvo-col-md-push-6{left:50%}.drdsgvo-col-md-push-5{left:41.66666667%}.drdsgvo-col-md-push-4{left:33.33333333%}.drdsgvo-col-md-push-3{left:25%}.drdsgvo-col-md-push-2{left:16.66666667%}.drdsgvo-col-md-push-1{left:8.33333333%}.drdsgvo-col-md-push-0{left:auto}.drdsgvo-col-md-offset-12{margin-left:100%}.drdsgvo-col-md-offset-11{margin-left:91.66666667%}.drdsgvo-col-md-offset-10{margin-left:83.33333333%}.drdsgvo-col-md-offset-9{margin-left:75%}.drdsgvo-col-md-offset-8{margin-left:66.66666667%}.drdsgvo-col-md-offset-7{margin-left:58.33333333%}.drdsgvo-col-md-offset-6{margin-left:50%}.drdsgvo-col-md-offset-5{margin-left:41.66666667%}.drdsgvo-col-md-offset-4{margin-left:33.33333333%}.drdsgvo-col-md-offset-3{margin-left:25%}.drdsgvo-col-md-offset-2{margin-left:16.66666667%}.drdsgvo-col-md-offset-1{margin-left:8.33333333%}.drdsgvo-col-md-offset-0{margin-left:0}}@media (min-width:1200px){.drdsgvo-col-lg-1,.drdsgvo-col-lg-2,.drdsgvo-col-lg-3,.drdsgvo-col-lg-4,.drdsgvo-col-lg-5,.drdsgvo-col-lg-6,.drdsgvo-col-lg-7,.drdsgvo-col-lg-8,.drdsgvo-col-lg-9,.drdsgvo-col-lg-10,.drdsgvo-col-lg-11,.drdsgvo-col-lg-12{float:left}.drdsgvo-col-lg-12{width:100%}.drdsgvo-col-lg-11{width:91.66666667%}.drdsgvo-col-lg-10{width:83.33333333%}.drdsgvo-col-lg-9{width:75%}.drdsgvo-col-lg-8{width:66.66666667%}.drdsgvo-col-lg-7{width:58.33333333%}.drdsgvo-col-lg-6{width:50%}.drdsgvo-col-lg-5{width:41.66666667%}.drdsgvo-col-lg-4{width:33.33333333%}.drdsgvo-col-lg-3{width:25%}.drdsgvo-col-lg-2{width:16.66666667%}.drdsgvo-col-lg-1{width:8.33333333%}.drdsgvo-col-lg-pull-12{right:100%}.drdsgvo-col-lg-pull-11{right:91.66666667%}.drdsgvo-col-lg-pull-10{right:83.33333333%}.drdsgvo-col-lg-pull-9{right:75%}.drdsgvo-col-lg-pull-8{right:66.66666667%}.drdsgvo-col-lg-pull-7{right:58.33333333%}.drdsgvo-col-lg-pull-6{right:50%}.drdsgvo-col-lg-pull-5{right:41.66666667%}.drdsgvo-col-lg-pull-4{right:33.33333333%}.drdsgvo-col-lg-pull-3{right:25%}.drdsgvo-col-lg-pull-2{right:16.66666667%}.drdsgvo-col-lg-pull-1{right:8.33333333%}.drdsgvo-col-lg-pull-0{right:auto}.drdsgvo-col-lg-push-12{left:100%}.drdsgvo-col-lg-push-11{left:91.66666667%}.drdsgvo-col-lg-push-10{left:83.33333333%}.drdsgvo-col-lg-push-9{left:75%}.drdsgvo-col-lg-push-8{left:66.66666667%}.drdsgvo-col-lg-push-7{left:58.33333333%}.drdsgvo-col-lg-push-6{left:50%}.drdsgvo-col-lg-push-5{left:41.66666667%}.drdsgvo-col-lg-push-4{left:33.33333333%}.drdsgvo-col-lg-push-3{left:25%}.drdsgvo-col-lg-push-2{left:16.66666667%}.drdsgvo-col-lg-push-1{left:8.33333333%}.drdsgvo-col-lg-push-0{left:auto}.drdsgvo-col-lg-offset-12{margin-left:100%}.drdsgvo-col-lg-offset-11{margin-left:91.66666667%}.drdsgvo-col-lg-offset-10{margin-left:83.33333333%}.drdsgvo-col-lg-offset-9{margin-left:75%}.drdsgvo-col-lg-offset-8{margin-left:66.66666667%}.drdsgvo-col-lg-offset-7{margin-left:58.33333333%}.drdsgvo-col-lg-offset-6{margin-left:50%}.drdsgvo-col-lg-offset-5{margin-left:41.66666667%}.drdsgvo-col-lg-offset-4{margin-left:33.33333333%}.drdsgvo-col-lg-offset-3{margin-left:25%}.drdsgvo-col-lg-offset-2{margin-left:16.66666667%}.drdsgvo-col-lg-offset-1{margin-left:8.33333333%}.drdsgvo-col-lg-offset-0{margin-left:0}}
	    .drdsgvo-hide {
	      display:none !important;
	    }
        .drdsgvo_button {
            background-color: #84c101 !important;
            border-color: #84c101 !important;
		}
        .drdsgvo_button:hover {
            background-color: transparent !important;
            border-color: #000000 !important;
        }
        .drdsgvo_button
         {
            color: #ffffff !important;
        }
        .drdsgvo_button:hover
         {
            color: #000000 !important;
        }
        .wdrdsgvo_main_mess
 {
    		color: #000000 !important;
		}
       	
        .drdsgvo_ui {
  			background-color: #ffffff !important;
		}
		.drdsgvo_cmp_showing {
		opacity:1;
		visibility:visible;
		}
		.drdsgvo_ui:not(.drdsgvo_cmp_showing), .drdsgvo_ui_con:not(.drdsgvo_cmp_showing) {
		opacity:0;
		overflow-y:scroll;
		visibility:hidden;
		will-change:visibility,opacity;
		}

  @media screen and (min-height: 601px) and (min-width:1024px){
    .drdsgvo-flex {
         display:flex;
    }
    .impds {
		position:absolute;
		bottom:5px;
		left:0px;
		right:0px;
	}
				
  }  
  @media screen and (max-height: 600px) {
    .drdsgvo-flex {
         display:block;
    }
	}
   .drdsgvo_ui.drdsgvo_cmp_showing {
   visibility:visible;
   opacity:1;
   bottom:0;
   box-sizing:border-box;
   color:#fff;
   font-family:Arial,Verdana,sans-serif;
   justify-content:space-between;
   left:0;
   max-height:100vh;
   min-height:300px !important;
   overflow-x:hidden;
   position:fixed;
   right:0;
   -webkit-font-smoothing:antialiased;
   overflow-y:scroll;
   background-color:#ffffff !important;
   }
  .drdsgvo_ui_con:not(.dspag) {
	background: rgba(33,41,52,.85) !important;
  }
    .drdsgvo_ui_con.dspag {
	background: rgba(33,41,52,.15) !important;
	}
  .drdsgvo_ui_con {
	bottom:0 !important;
	display:flex !important;
	left:0 !important;
	position:fixed !important;
	right:0 !important;
	top:0 !important;
	transition: opacity .15s ease;
	z-index:2147483647 !important;
  }
	{
  display:flex !important;
  align-content:center;
  flex-direction:column;
  justify-content:center;
  padding-left:60px;
  }
  .drdsgvo_buttons .drdsgvo_button {
  min-width:280px !important;
  }
  .drdsgvo_button {
	border:2px solid #fff;
	border-radius:3px;
	box-shadow:0 1px 1px 0 rgba(0,0,0,.2);
	box-sizing:border-box;
	cursor:pointer !important;
	font-family:Arial,sans-serif;
	font-size:14px;
	font-weight:600;
	height:55px !important;
	margin:0 0 15px;
	line-height:34px;
	padding:0 13px;
	text-transform:uppercase;
	white-space:nowrap;
	text-align:center;
	text-decoration:none;
  }
    @media screen and (max-width: 480px) {
    .drdsgvo_buttons {
  padding-left:0px;
  text-align:center;
  display:block;
  }
  }

  @media screen and (max-width: 620px) {
h2.drdsgvo_cmp_title {
	font-size:22px;
}
  }
    @media screen and (max-width: 380px) {
.drdsgvo_button-small {
min-width:150px;
}
}
    @media screen and (min-width: 381px) {
.drdsgvo_button-small {
min-width:180px;
}
}
.drdsgvo_main_mess {
	font-size:16px;
}
    @media screen and (max-width: 480px) {
.drdsgvo_main_mess {
	font-size:13px;
	}
	}
    
            .drdsgvo_button {
                height:initial !important;
                height:auto !important;
            }
            .btnwww1 {
                min-width:140px !important;text-align: center;margin: 0px auto;margin-bottom: 8px;display: inline-block;
            }	
            @media (min-width: 768px) {
                .btnwww1 {
                    display: block;
                }
                .wwwbtns1 {
                    margin-top:32px;
                }
            }
            .drdsgvo_buttons .drdsgvo_button {
                min-width:180px !important;
            }
            @media (max-width: 768px) {
                .drdsgvo_buttons .drdsgvo_button {
                    min-width:120px !important;
                }
            }	