#sectionDividerBottom {
  background-color: $background-color-light;
  padding-top: 5%;
  padding-bottom: 5%;

  #dividerBottomContainer {
    width: 45%;
    margin: 0 auto;
    display: flex;
    flex-direction: row; // CHANGED: row, not column
    align-items: center; // Vertically center image/text

    .dividerBottomItem {
      flex: 1;

      &--image-mobile {
        display: none;
      }

      &--image {
        flex: 0 0 200px; /* flex-grow:0; flex-shrink:0; flex-basis:200px */
        background-image: url('/images/divider_luggage.png');
        background-size: contain; // Show all of the image
        background-repeat: no-repeat;
        background-position: left center;
        height: 160px; // Or desired height; adjust to fit your design
        margin-right: 24px; // Space between image and text
      }

      &--text {
        flex: 0 0 300px;

        h1 {
          margin-top: 10px;
          font-size: $headline-font-size;
          letter-spacing: $headline-letter-spacing;
          text-transform: uppercase;
          font-weight: 500;
          margin-top: 10%;
        }

        h2 {
          margin-top: 4%;
          font-weight: 500;
        }
          
      }
    }
  }
}
