#sectionLetsTalk {
  background-color: $background-color-darker;
  padding-bottom: 10%;

  .letsTalkContainer {
    width: 45%;
    margin: 0 auto;

    .letsTalkItem {
      &--headline {
        padding-top:  2%;
        h2 {
          color: $color-important;
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
          font-size: $headline-snd-font-size;
          letter-spacing: 1px;
        }
      }

      &--text {
        p {
          margin-top: 5px;
        }
      }

      &--connect-row {
        margin-top: 12px;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: 15% left; // shifts image right from left edge

        a {
          padding-left: 5%;
          color: $color-important;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &--connect-row-phone {
        background-image: url('/images/lets_talk/lets_talk_phone.png');
      }

      &--connect-row-mail {
        background-image: url('/images/lets_talk/lets_talk_at.png');
      }

      &--connect-row-instagramm {
        background-image: url('/images/lets_talk/lets_talk_insta.png');
      }

      &--action-row-button {
        margin-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: left;

        a {
          display: inline-block;
          width: 440px; // Set your desired width here
          padding: 12px 0;
          text-align: center;
          background-color: $color-action; // Or your preferred button color
          color: #fff; // Or another accessible contrast color
          border: none;
          border-radius: 999px; // Fully rounded corners
          text-decoration: none;
          font-size: 1em;
          font-weight: bold;
          cursor: pointer;
          transition: background 0.2s;

          &:hover,
          &:focus {
            background-color: darken($color-important, 8%);
            text-decoration: none;
          }
        }

      }
    }
  }
}
