@media (min-width: 768px) and (max-width: 920px) {
  #sectionHeader {
    header {}
  }

  #sectionHero {
    max-height: 175vh;

    #heroWrapper {
      max-height: 175vh;

      .hero-item {

        &.hero-item--text {
          .item-first-row {
            h1 {
              font-size: 219%;
              margin-top: 5%;
            }
          }
        }
      }
    }
  }


}

@media (min-width: 768px) and (max-width: 1023px) {
  #sectionHeader {
    header {
      .header-desktop {
        .nav-links {
          gap: 0;

          a {
            padding: .5rem .5rem;
            font-size: 80%;
          }
        }
      }
    }
  }

  #sectionHero {
    margin-top: 10%;
    max-height: 175vh;

    #heroWrapper {
      #heroFlexWrapper {
        .hero-item {

          &.hero-item--text {
            .item-first-row {
              h1 {
                font-size: 240%;
              }
            }
          }
        }
      }
    }
  }

  #sectionBagage {
    min-height: 40vh;

    #bagageWrapper {
      .bagageContainer {

        height: 375px;

        .bagageItem {
          .item--text {}
        }
      }
    }
  }

  #sectionApproach {
    min-height: 50vh;

    #approachWrapper {
      .approachContainer {
        min-height: 480px;
      }
    }
  }

  #sectionPrices {
    min-height: 45vh;
  }

  #sectionReferences {

    #referencesContainer {
      #referencesWrapper .referencePic .reference_img_wrapper {
        height: 625px;

      }
    }
  }

  #sectionPersonal {
    min-height: 55vh;
    padding: 4rem;

    #personalWrapper {
      #personalFlexWrapper {
        .personalItem--img .img_wrapper {
          height: 645px;
        }
      }
    }
  }


}
