#sectionPersonal {
  background-color: $background-color-darker;
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  justify-content: center;   /* horizontal centering */
  align-items: flex-start;       /* vertical centering */
  min-height: 63vh;         /* full viewport height */
  padding: 2rem;             /* optional spacing on smaller screens */
  box-sizing: border-box;

  #personalWrapper {
    max-width: 1200px;
    width: 100%;

    #personalHeadline {
      h1 {
        color: $color-important;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: $h1-font-size-baggage;
        letter-spacing: 1px;
      }

      h2 {
        margin-top: 1%;
        font-weight: 500;
      }
    }

    #personalFlexWrapper {
      display: flex;
      flex-wrap: nowrap;
      gap: 2rem;
      flex-direction: row;
      width: 100%;
      justify-content: flex-start;

      .personalItem {
        flex: 1;
        // Base styles for each item in flex wrapper

        &--img {
          flex: 35%;
          display: flex;
          justify-content: center;
          align-items: center;

          .img_wrapper {
            width: 90%;          /* or % */
            height: 450px;         /* defines how much of the image is visible */
            margin: 0;        /* centers the wrapper in the page */
            border-radius: 16px;   /* rounded corners */
            overflow: hidden;      /* hide the rest of the image */
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;     /* zoom/crop to fill wrapper */
              object-position: center 80%;
              display: block;
            }
          }
        }

        &--text {
          flex: 65%;
          padding-left: 4%;

          p {
            font-size: 95%;
            line-height: 1.9em;
            margin-top: 2%;
          }

          .edu-list {
            padding-left: 0;
            margin-left: 0;

            li {
              margin-left: 1.2rem;

              a {
                color:$body-color;
                text-decoration: underline;
                
              }

              &.title {
                list-style: none;
                font-weight: bold;
                margin-left: 0;
              }

              &:not(.title) {
                list-style: disc;
              }
            }
          }

        }
      }
    }
  }
}
