<section id="sectionApproach">
  <div id="approachWrapper">
    <div id="approachHeadline">
      <h1>Mein Ansatz</h1>
    </div>
    <div class="approachContainer">
      <div class="approachItem approachItem--coaching">
        <div class="item item--img item--img--coaching">
          <img src="/images/approach/approach_coaching_consulting.png" alt="Coaching & Beratung">
        </div>
        <div class="item item--headline">
          <h3>Coaching & Beratung</h3>
        </div>
        <div class="item item--text">
          <p>
          Im systemischen
          Coaching betrachten wir
          dich in deinem Umfeld.
          So entstehen Lösungen,
          die wirklich zu deinem
          Leben passen.
          </p>
        </div>
      </div>
      <div class="approachItem approachItem--body-coaching">
        <div class="item item--img item--img--body-coaching">
          <img src="/images/approach/approach_body_coaching.png" alt="Köerper & Beratung">
        </div>
        <div class="item item--headline">
          <h3>Körperorientiertes Coaching</h3>
        </div>
        <div class="item item--text">
          <p>
          Durch achtsame
          Wahrnehmung lernst du,
          Gefühle und
          Körpersignale als
          Orientierung zu nutzen.
          Dein Körper wird zum
          Kompass für stimmige
          Entscheidungen.
          </p>
        </div>
      </div>
      <div class="approachItem approachItem--rituals">
        <div class="item item--img item--img--rituals">
          <img src="/images/approach/approach_rituals.png" alt="Rituale">
        </div>
        <div class="item item--headline">
          <h3>Rituale</h3>
        </div>
        <div class="item item--text">
          <p>
          Übergänge verdienen
          Aufmerksamkeit. Ein
          individuell gestaltetes
          Ritual kann helfen, Altes
          abzuschließen und Platz
          für Neues zu schaffen –
          auf eine klare, bewusste
          Weise.
          </p>
        </div>
      </div>
      <div class="approachItem approachItem--nature">
        <div class="item item--img item--img--nature">
          <img src="/images/approach/approach_nature.png" alt="Natur">
        </div>
        <div class="item item--headline">
          <h3>Natur</h3>
        </div>
        <div class="item item--text">
          <p>
          Der Wald, der Weinberg,
          die Elbe sind mehr als
          Kulisse. Spaziergänge
          oder Sitzungen im
          Grünen helfen, Abstand
          zu gewinnen und neue
          Perspektiven
          einzunehmen.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
