<section id="sectionDividerBottom">
  <div id="dividerBottomContainer">
    <div class="dividerBottomItem dividerBottomItem--image">
    </div>
    <div class="dividerBottomItem dividerBottomItem--image-mobile">
      <div class="image_wrapper">
        <img src="/images/divider_luggage.png" alt="divider_luggage"/>
      </div>
    </div>
    <div class="dividerBottomItem dividerBottomItem--text">
      <h1>Gepäck</h1>
      <h1>Aufgabe</h1>
      <h2>Coaching & Beratung</h2>
    </div>
  </div>
</section>
