<section id="sectionHeader">
  <header>
    <div class="header-desktop">
      <div class="logo">
        <div class="header-image">
          <img src="/images/header_luggage.png" alt="Header image" class="header-image">
        </div>
      </div>
      <div class="claim">
        <h1>Gepäck</h1>
        <h1>Aufgabe</h1>
        <h2>Coaching & Beratung</h2>
      </div>
      <nav>
        <ul class="nav-links">
          <li><a href="#sectionBagage">Dein Gepäck</a></li>
          <li><a href="#sectionApproach">Mein Ansatz</a></li>
          <li><a href="#sectionPrices">Preise</a></li>
          <li><a href="#sectionReferences">Referenzen</a></li>
          <li><a href="#sectionLetsTalk">Kontakt</a></li>
        </ul>
      </nav>
    </div>
    <div class="header-mobile">
      <div class="header-mobile-row">
        <div class="header-row-first-line">
          <div class="mobile-logo">
            <div class="logo">
              <div class="header-image">
                <img src="/images/header_luggage.png" alt="Header image" class="header-image">
              </div>
            </div>
          </div>
          <div class="claim">
            <h1>Gepäck</h1>
            <h1>Aufgabe</h1>
            <h2>Coaching & Beratung</h2>
          </div>
          <div class="burger">
            <a href="javascript:void(0);" class="icon" onclick="handleBurgerMenu()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="header-mobile-row">
        <div class="mobile-nav" id="mobileNav">
          <nav>
            <ul class="mobile-nav">
              <li><a href="#sectionBagage">Dein Gepäck</a></li>
              <li><a href="#sectionApproach">Mein Ansatz</a></li>
              <li><a href="#sectionPrices">Preise</a></li>
              <li><a href="#sectionReferences">Referenzen</a></li>
              <li><a href="#sectionLetsTalk">Kontakt</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
</section>
