<section id="sectionHero">
  <div id="heroContainer">
    <div class="hero-item hero-item--image">

    </div>
    <div class="hero-item hero-item--text">
      <div id="heroContainerRight">
        <div class="item item-first-row">
          <h1>Gepäck abgeben.</h1>
          <h1>Wandel annehmen.</h1>
        </div>
        <div class="item item-second-row">
          <h3>
            Bist du als Frau mitten in einer Veränderung und suchst
            Klarheit, Orientierung und Vertrauen in dich selbst?
          </h3>
        </div>
        <div class="item item-third-row">
          <p>
            Ich begleite dich dabei, deinen Wandel bewusst zu gestalten – in der Natur
            oder im Coachingraum in Radebeul.
          </p>
          <p>
            Im Coaching findest du Raum, um innezuhalten, Altes loszulassen und mit
            neuer Kraft deinen nächsten Schritt zu gehen.
          </p>
        </div>
      </div>
      <div class="item item-fourth-row">
        <p>
          „Alles, was ich lernte, lehrte mich der Fluss.“ (Hermann
          Hesse, Siddhartha)
        </p>
      </div>
      <div class="item item-fifth-row">
        <div class="link-left">
          <a href="{{ .Site.BaseURL }}">Mein Ansatz</a>
        </div>
        <div class="link-right">
          <a href="{{ .Site.BaseURL }}">Mehr von Mir</a>
        </div>
      </div>
    </div>
  </div>
</section>
