<section id="sectionImpressum">
  <div id="impressumContainer">
    <div id="impressumHeadline">
      <h2>Impressum</h2>
    </div>
    <div class="impressumWrapper">
      <div class="impressumItem impressumItem--first">
        <ul>
          <li class="headline">Angaben gemäß § 5 TMG</li>
          <li>Gepäckaufgabe Julia Drowatzky</li>
          <li>Maxim-Gorki-Str. 38a</li>
          <li>01445 Radebeul</li>
          <li>Vertreten durch: Julia Drowatzky</li>
          <li>Kontakt:</li>
          <li>Telefon: +49 175 2694488</li>
          <li>E-Mail: <a href="mailto:info@gepaeckaufgabe.jetzt">info@gepackaufgabe.jetzt</a></li>
          <li class="headline">Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</li>
          <li class="headline">Julia Drowatzky</li>
          <li>Maxim-Gorki-Str. 38a</li>
          <li>01445 Radebeul</li>
        </ul>

      </div>
      <div class="impressumItem impressumItem--second">
        <p>Haftungsausschluss (Disclaimer)</p>
        <p class="headline">Haftung für Inhalte</p>
        <p>Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen
          Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet,
          übermittelte
          oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine
          rechtswidrige
          Tätigkeit hinweisen.
        </p>
        <p class="headline">Haftung für Links</p>
        <p>
          Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb
          können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist
          stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum
          Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der
          Verlinkung nicht erkennbar.
        </p>
        <p class="headline">Urheberrecht</p>
        <p>
          Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen
          Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen
          des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und
          Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
        </p>
        <p class="headline">Datenschutz</p>
        <p>
          Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren
          Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt
          dies, soweit möglich, stets auf freiwilliger Basis.
        </p>
      </div>
    </div>
  </div>
</section>
