<section id="sectionLetsTalk">
  <div class="letsTalkContainer">
    <div class="letsTalkItem letsTalkItem--headline">
      <h2>Lass uns sprechen</h2>
    </div>
    <div class="letsTalkItem letsTalkItem--text">
      <p>
        In einem kostenlosen Erstgespräch (30 Minuten) lernst du mich und
        meine Arbeitsweise kennen.
      </p>
      <p>
        Gemeinsam klären wir, was du gerade brauchst und wie Coaching dich
        unterstützen kann.
      </p>
      <div class="letsTalkItem letsTalkItem--connect-row letsTalkItem--connect-row-phone">
        <a href="phone:+49 175 2694488">+49 175 2694488</a>
      </div>
      <div class="letsTalkItem letsTalkItem--connect-row letsTalkItem--connect-row-mail">
        <a href="mailto:info@gepaeckaufgabe.jetzt">info@gepaeckaufgabe.jetzt</a>
      </div>
      <div class="letsTalkItem letsTalkItem--connect-row letsTalkItem--connect-row-instagramm">
        <a href="https://www.instagram.com/julia_coachin/" target="_blank">@julia_coachin</a>
      </div>
    </div>
  </div>
</section>
