<section id="sectionLetsTalk">
  <div class="letsTalkContainer">
    <div class="letsTalkItem letsTalkItem--headline">
      <h2>Lass uns sprechen</h2>
    </div>
    <div class="letsTalkItem letsTalkItem--text">
      <p>
        In einem kostenlosen Erstgespräch (30 Minuten) lernst du mich und
        meine Arbeitsweise kennen.
      </p>
      <p>
        Gemeinsam klären wir, was du gerade brauchst und wie Coaching dich
        unterstützen kann.
      </p>
      <div class="letsTalkItem letsTalkItem--action-row letsTalkItem--action-row-phone">
        +49 175 2694488
      </div>
      <div class="letsTalkItem letsTalkItem--action-row letsTalkItem--action-row-mail">
        <a href="mailto:info@gepaeckaufgabe.jetzt">info@gepaeckaufgabe.jetzt</a>
      </div>
      <div class="letsTalkItem letsTalkItem--action-row letsTalkItem--action-row-instagramm">
        <a href="https://www.instagram.com/juliacoachin/" target="_blank">@juliacoachin</a>
      </div>
      <div class="letsTalkItem letsTalkItem--action-row letsTalkItem--action-row-button">
        <a href="phone:+491752694488">Kostenloses Erstgespräch vereinbaren</a>
      </div>
    </div>
  </div>

</section>
