<section id="sectionPersonal">
  <div id="personalWrapper">
    <div id="personalHeadline">
      <h1>Mehr von mir persönlich</h1>
      <h2>Echt. Klar. Verbunden</h2>
    </div>
    <div id="personalFlexWrapper">
      <div class="personalItem personalItem--img">
        <div class="img_wrapper">
          <img src="/images/personal/self_image_serious.jpeg" alt="Julia in nature"/>
        </div>
      </div>
      <div class="personalItem personalItem--text">
        <p>
          Auch mein Koffer war einmal zu voll. Ich bin <strong>Julia Drowatzky</strong> – systemische Coachin für Frauen
          in Veränderungsprozessen. Aus eigener Erfahrung kenne ich den Druck durch Erwartungen, Rollenwechsel und
          ständige Erreichbarkeit. Berufliche und private Umbrüche haben mir gezeigt: Es ist möglich, Ballast abzulegen
          und wieder klarer zu sehen.
        </p>
        <p>
          Meine Entwicklung führte mich Schritt für Schritt zur systemischen Arbeit. Heute verbinde ich
          <strong>systemische Methoden, körperorientierte Übungen</strong> und gezielte <strong>Rituale in der
            Natur.</strong> Dabei geht es mir nicht um Esoterik, sondern um handfeste Werkzeuge: achtsame
          Körperwahrnehmung, klärende Fragen, konkrete Übungen für den Alltag und kleine, bewusst gestaltete
          Übergangsrituale.

          In Radebeul – zwischen Elbe, Weinbergen und Wäldern – nutze ich die Natur als Rahmen, weil Draußen vieles
          leichter wird: Perspektiven verändern sich, Gedanken ordnen sich, Entscheidungen werden klarer. Ich begleite
          dich ehrlich, pragmatisch und mit dem Blick für das, was praktisch im Alltag umsetzbar ist.

          Wenn du magst, lernen wir uns in einem kostenlosen Erstgespräch kennen.
        </p>
        <p>
        <ul class="edu-list">
          <li class="title">Ausbildung:</li>
          <li>
            systemischer Coach und Berater beim
            <a href="https://www.disa-dresden.de/" target="_blank">Disa Dresden</a>
            (zertifiziert für „Systemische Beratung“ gemäß den Richtlinien der
            <a href="https://www.dgsf.org/" target="_blank">DGSF</a>)
          </li>
          <li>Mediatorin (Zertifiziert gem. § 2 Abs. 6 ZMediatAusbV)</li>
        </ul>

        </p>
      </div>
    </div>
  </div>

</section>
