<section id="sectionReferences">
  <div id="referencesContainer">
    <div id="references-headline">
      <h1>Referenzen</h1>
    </div>
    <div class="referencesWrapper">
      <div class="referenceStatements">
        <div class="refStatement refStatement--one">
          <p>
            “In einer Phase großer Veränderungen hat
            mir Julias Coaching geholfen, mich zu
            erden und meine innere Balance
            wiederzufinden. Mein eigenes
            Abschiedsritual zu kreiieren und
            durchzuführen war ein einmaliges
            Erlebnis.”
          </p>
        </div>
        <div class="refStatement refStatement--two">
          <p>
            “Die letzte Sitzung war für uns sehr
            bemerkenswert. Obwohl der Weg
            zunächst schwierig schien, haben wir
            dank deiner Unterstützung erkannt, dass
            wir in der Lage sind, unsere Themen
            selbst konstruktiv anzugehen ”
          </p>
        </div>
        <div class="refStatement refStatement--three">
          <p>
            “Julias Coaching war für mich
            transformativ. Meine Emotionen durften
            stets sein. Julias einfühlsame Art schaffen
            einen sicheren Rahmen. Alte Lasten liegen
            hinter mit, meinen Weg gestalte ich mit
            Zuvertrauen. Sehr empfehlenswert für
            Frauen in Veränderungsprozessen!”
          </p>
        </div>
        <div class="refStatement refStatement--four">
          <p>
            “Durch das Coaching mit Julia konnte
            ich endlich meine beruflichen Ziele klar
            definieren und konkrete Schritte
            unternehmen. Ich schätze ihre
            einfühlsame und professionelle
            Herangehensweise.”
          </p>
        </div>
      </div>

      <div class="referencePic">
      </div>
    </div>
  </div>
</section>
