<section id="sectionBagage">
  <div id="bagageWrapper">
    <div id="bagageHeadline">
      <h1>Dein Gepäck</h1>
    </div>
    <div class="bagageContainer">
      <div class="bagageItem bagageItem--expectations">
        <div class="item item--img item--img--expectations">
          <img src="/images/bagage/bagage_expectations.png" alt="Erwartungen">
        </div>
        <div class="item item--headline">
          <h3>Erwartungen</h3>
        </div>
        <div class="item item--text">
          <p>
            Rollen, Ansprüche und Verpflichtungen werden zu schwer. Du spürst: So geht es nicht weiter.
          </p>
        </div>
      </div>
      <div class="bagageItem bagageItem--breakup">
        <div class="item item--img item--img--breakup">
          <img src="/images/bagage/bagage_breakup.png" alt="Umbruch">
        </div>
        <div class="item item--headline">
          <h3>Umbruch</h3>
        </div>
        <div class="item item--text">
          <p>
            Das Alte passt nicht mehr, das Neue ist noch unscharf. Du suchst Orientierung und Halt.
          </p>
        </div>
      </div>
      <div class="bagageItem bagageItem--body">
        <div class="item item--img item--img--body">
          <img src="/images/bagage/bagage_body.png" alt="Körper">
        </div>
        <div class="item item--headline">
          <h3>Körper</h3>
        </div>
        <div class="item item--text">
          <p>
            Dein Körper meldet sich – mit Müdigkeit, Unruhe oder Spannung. Er zeigt, dass Veränderung ansteht.
          </p>
        </div>
      </div>
      <div class="bagageItem bagageItem--yearning">
        <div class="item item--img item--img--yearning">
          <img src="/images/bagage/bagage_yearning.png" alt="Sehnsucht">
        </div>
        <div class="item item--headline">
          <h3>Sehnsucht</h3>
        </div>
        <div class="item item--text">
          <p>
            Du sehnst dich nach Klarheit & Verbunden-heit in Umbruchs- und Veränderungsphasen.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

