<section id="sectionYourBaggage">
  <div id="yourBaggageContainer">
    <div id="yourBaggage-headline">
      <h1>Dein Gepäck abgeben</h1>
    </div>
    <div class="yourBaggageWrapper">
      <div class="yourBaggageItem yourBaggageItem--expectations">
        <div class="item item--img item--img--expectations">
        </div>
        <div class="item item--headline">
          <h2>Erwartungen</h2>
        </div>
        <div class="item item--text">
          <p>
            Rollen, Ansprüche und Verpflichtungen werden zu schwer. Du spürst: So geht es nicht weiter.
          </p>
        </div>
        <div class="yourBaggageItem yourBaggageItem--breakup">
          <div class="item item--img item--img--breakup">
          </div>
          <div class="item item--headline">
            <h2>Umbruch</h2>
          </div>
          <div class="item item--text">
            <p>
              Das Alte passt nicht mehr, das Neue ist noch unscharf. Du suchst Orientierung und Halt.
            </p>
          </div>
          <div class="yourBaggageItem yourBaggageItem--body">
            <div class="item item--img item--img--body">
            </div>
            <div class="item item--headline">
              <h2>Körper</h2>
            </div>
            <div class="item item--text">
              <p>
                Dein Körper meldet sich – mit Müdigkeit, Unruhe oder Spannung. Er zeigt, dass Veränderung ansteht.
              </p>
            </div>
            <div class="yourBaggageItem yourBaggageItem--yearning">
              <div class="item item--img item--img--yearning">
              </div>
              <div class="item item--headline">
                <h2>Sehnsucht</h2>
              </div>
              <div class="item item--text">
                <p>
                  Du sehnst dich nach Klarheit & Verbunden-heit in Umbruchs- und Veränderungsphasen.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
